/*---- display */
.ContainerBoletinTaller{
    display: flex;
}

/*----------------------STYLE CONTAINER -------------------*/
.ContainerBoletinTaller{
    width: 35%;
    height: 80%;
    
    max-width: 380px;
    max-height: 700px;
    
    flex-direction: column;
    align-items: center;
    background-color: aqua;
    padding: 10px;
}


.ContainerBoletinPatron{
    width: 100%;
    height: 25%;
    background-color: red;
}
.ContainerBoletinPatron img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.ContainerLogoDifBoletin{
    width: 28%;
    height: 18%;
    margin-top: -50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1E9DE0;
    border-radius: 100%;
    border: 5px solid #ffffff;
    box-shadow: 0px 0px 10px #0000007c;
}
.ContainerLogoDifBoletin img{
    width: 55%;
    
    object-fit: cover;
}

.ContainerContenidoBoletin{
    width: 90%;
    height: 75%;
    background-color: rgb(177, 148, 148);
    display: flex;
    flex-direction: column;
}

.containerBoletaText{
    width: 100%;
    height: 70%;
    background-color: rgb(131, 57, 57);
    display: flex;
    flex-direction: column;
}
/*Text*/

.tituloBoletin h3{
    font-size: 10px;
    color:#212121;
    margin: 0;
    
}
p{
    margin: 0;
    text-align: start;
}
#ContainerLabel{
    margin: 0;
    display: flex;
    flex-direction:row;
    width: auto;
    background-color: #5a3e3e;
    margin-bottom: 10px;

}
#Label, #LabelDias, #LabelHorario{
    font-family: Arial, Helvetica, sans-serif;
    color: #ffffff;
    border-radius: 20px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}

#Label{
    background-color: #5B8EAC;
}
#LabelHorario{
    background-color: #1E9DE0;
}
#LabelDias{
    background-color: #74C820;
}


.containerBoletaButtons{
    width: 100%;
    height: 30%;
    background-color: rgb(57, 131, 127);
}